
# get token from here: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
NEXT_PUBLIC_GITHUB_API_TOKEN=
NEXT_PUBLIC_GITHUB_API_URL=https://api.github.com/graphql

